/* Chat.css */

.outer {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: #f2709c;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ff9472, #f2709c);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ff9472, #f2709c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.contact-manager {
  display: flex;
  align-items: center;
  color: #333;
  margin-bottom: 5px;
}

.contact-manager span {
  margin-left: 8px;
}

hr {
  margin: 5px 0 ;
  border: none;
  border-top: 2px solid blueviolet ;
}

.contact-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

h4 {
  margin: 0;
  color: #333;
}

button {
  padding: 8px 12px;
 
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background: #616161;  


}

button:hover {
  background-color: #0056b3;
}

.contacts {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #ddd6f3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #faaca8, #ddd6f3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #faaca8, #ddd6f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.name-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.name h4 {
  margin: 2px;
  color: #333;
}
.name #mobile {
  margin-top: 4px;
}

.icons span {
  margin-left: 8px;
  cursor: pointer;
  color: #888;
}

.icons span:hover {
  color: #333;
}
